@font-face {
    font-family: 'molotregular';
    src: url('../fonts/Molot-webfont.eot');
    src: url('../fonts/Molot-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Molot-webfont.woff') format('woff'),
    url('../fonts/Molot-webfont.ttf') format('truetype'),
    url('../fonts/Molot-webfont.svg#molotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationregular';
    src: url('../fonts/Sansation-Regular-webfont.eot');
    src: url('../fonts/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sansation-Regular-webfont.woff') format('woff'),
    url('../fonts/Sansation-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Sansation-Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sansationregular", Arial, sans-serif;
    font-size: 20px;
}

body {
    height: 1vh;
    padding: 10px 20px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
    color: #FFFFFF;
}

.firstLettersList,
.characterList {
    list-style-type: none;
    margin-bottom: 0;
}

.firstLettersList {
    margin-left: -5px;
}

.firstLettersList li {
    display: inline-block;
    width: 25px;
    padding: 0 5px;
    text-align: center;
    cursor: pointer;
    color: silver;
}

.firstLettersList li:hover {
    color: yellow;
}

li.chosenLetter {
    background: purple;
}

.characterHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.thumbnail {
    width: 250px;
    height: 250px;
    margin-right: 30px;
    border: 1px solid black;
}

.name {
    font-family: "molotregular", Arial, sans-serif;
    font-size: 100px;
}

.infoHolder {
    text-align: justify;
}

.title {
    color: yellow;
    padding: 10px 0;
}

.comicsList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.comicsListItem {
    width: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comicThumbnail {
    width: 100px;
    height: auto;
    margin: 5px 20px 5px 0;
    border: 1px solid black;
}

.comicInfo {
    margin-right: 10px;
}

#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background: white;
    opacity: 0.6;
    color: black;
}

#loading > div {
    font-size: 100px;
    font-weight: bold;
}

.footer {
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
    color: silver;
}