* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1vh;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
    color: #FFFFFF;
}

.list {
    list-style-type: none;
}

.thumbnail {
    width: 300px;
    height: 300px;
}